<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header{
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
    color: #2C3E50;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color: blue;
  font-size: 50px;
  padding-bottom: 40px;
}

h4 {
  text-align: center;
  text-decoration: underline;
}

.column h4 {
  position: relative;
  /* top: 18px;
  left: 10px; */
  color: black;
  font-size: 20px;
  /* padding-bottom: 40px; */
  text-align: center;
  text-decoration: underline;
}
/* body {
    background-image: url("./images/IPLLogo.jpg");
} */
#tooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity:0.8;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#stackebartooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity:0.8;
}

#stackebartooltip.hidden {
  display: none;
}

#stackebartooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#linetooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity:0.8;
}

#linetooltip.hidden {
  display: none;
}

#linetooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#linetooltipteam {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity:0.8;
}

#linetooltipteam.hidden {
  display: none;
}

#linetooltipteam p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#scattertooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity:0.8;
}

#scattertooltip.hidden {
  display: none;
}

#scattertooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.line_team {
  width: 70%;
  display: block;
  margin: auto;
  position: relative;
}

.line_team h4{
  position: relative;
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

.line_player {
  width: 70%;
  display: block;
  margin: auto;
  position: relative;
}

.line_player h4{
  position: relative;
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

.chord_diagram {
  /* width: 20%; */
  display: block;
  margin: auto;
  position: relative;
  padding-bottom: 20px;
}

.column {
    float: left;
    width: 50%;
    /* display: inline-block; */
    position: relative;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.empty-container {
    width: 100px
    height: 100px
    position: fixed;
    padding: 10;
    margin: 10;
    background-color: #ff00ff;
}
img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}
</style>
